01_Image_To_VVeo3.json
{
  "name": "01_Prompt_To_VVeo3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting2').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken2').isExecuted && $('Get RefreshToken2').first()?.json?.access_token,\n    $('Get RefreshToken2').first().json.access_token,\n    $('Setting2').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting2').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting2').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting2').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting2').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting2').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting2').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting2').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting2').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "2e3c0788-9944-4532-9825-3d296f9fb82c",
      "name": "Vertex AI-VEO2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1792,
        0
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "443b2c1b-3dbb-405c-8edf-5b5bd1819fd9",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "position": [
        2016,
        0
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting2').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken2').isExecuted && $('Get RefreshToken2').first()?.json?.access_token,\n    $('Get RefreshToken2').first().json.access_token,\n    $('Setting2').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "0ddd87c4-2d32-4dd1-934f-3a9a7a323d86",
      "name": "Vertex AI-fetch2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        -80
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2464,
        0
      ],
      "id": "0c21801f-5c19-4f09-a882-d7fbfdd9b065",
      "name": "Check Video Ready2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "65e66262-2dc2-42b4-9b2d-c2859a4ccc5f",
      "name": "Convert to File2",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2688,
        0
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "=video-create-from-images{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1AQkQRVHO3QpKYRX0YnUbiEKr9ud5cd21",
          "mode": "list",
          "cachedResultName": "Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AQkQRVHO3QpKYRX0YnUbiEKr9ud5cd21"
        },
        "options": {}
      },
      "id": "87142036-98d6-476f-9ed7-27d2fd2680f6",
      "name": "Upload file2",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2912,
        0
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        0
      ],
      "id": "5725e489-89e8-49d7-bc12-fd89d8e8fc00",
      "name": "CheckTimeToken2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting2').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting2').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting2').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        64
      ],
      "id": "b32d0bfe-e747-4f4e-b808-858a3f174e31",
      "name": "Get RefreshToken2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "n8npython-479410"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json['0'].content[0].text }}"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "ya29.a0Aa7pCA9Usf7M5PYDxvo4f0-yJwuU0O2yci9Ypa1sgc6p9QDlo1G8XTmOt2Tz-rqlyWSi35E5KNDO9fOBm5n_rt-wp_HWwxTg6D7MnuRf4uSaC0p_ZtSWynCrehROk9d9UavIWc5IGBl0RXd-J47P1teRuRFkkKzhbuePtjkPknwQS2U5P0ssz3RI_TYk1d-soFaMVeseaCgYKAXkSARcSFQHGX2MiAVtlRwP6BMqY5ofe_VKNgQ0207"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "823311730572-tbm9sjtf8sonll98v011o8o30aqebkti.apps.googleusercontent.com"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "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"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "1//04plJd9BIqvF_CgYIARAAGAQSNwF-L9Ir40JaQ02eJLCwRKgS-SJP0GauDZ10HxmmpOunYj4TKtEEOwIwgSxvCn5fVfEOn-1ki0o"
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "array",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8b2be50e-280f-4202-989b-8e8128666900",
      "name": "Setting2",
      "type": "n8n-nodes-base.set",
      "position": [
        1120,
        0
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "261cc34a-7475-4abc-9b87-c817825e67fd",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "content": "Tạo Video from Image\n",
        "height": 784,
        "width": 3616,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -352
      ],
      "id": "03876e91-38e9-4357-9ba5-4ec1ba8e8ec9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".jpg",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1fbEftm6Ic64Lu4sz-4E2ULR_OUX714re",
            "mode": "list",
            "cachedResultName": "CREATE_VIDEO_IMAGES",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1fbEftm6Ic64Lu4sz-4E2ULR_OUX714re"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "f6696adf-c3da-4e21-972c-6f052e52b625",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "d55c34e5-517d-4e24-b2c2-836c64fd4579",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "434fa584-087c-4ed6-826d-a8cda3e5801a",
      "name": "Limit3"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=Bạn là một AI thông minh.Dựa trên hình ảnh, tạo một video ngắn 8 giây, chia thành 3 phân cảnh. Yêu cầu: Nhân vật là trung tâm (Thay thế bằng 1 người vô danh khác để không vi phạm chính sách của VertexAI và vi phạm bản quyền), hành động rõ ràng, biểu cảm sống động. Video tổng cộng 8 giây, chia 3 phân cảnh đều hợp lý. Không cần mô tả chi tiết background hay props phụ.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "2c67ba83-d14c-4d5c-92d1-db1a3628a0fb",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Limit3').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL",
          "mode": "list",
          "cachedResultName": "Done_Create_video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3136,
        0
      ],
      "id": "04719802-6c37-436c-a93c-af71576a7f72",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Vertex AI-VEO2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch2": {
      "main": [
        [
          {
            "node": "Check Video Ready2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken2": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken2": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting2": {
      "main": [
        [
          {
            "node": "CheckTimeToken2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Setting2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2cda2079-5106-40ec-964c-ed6dae77f45e",
  "meta": {
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "GsqUR1YUer6KGPo6",
  "tags": []
}