01_Image_To_VVeo3.json
{
  "name": "01_Image_To_VVeo3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting2').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken2').isExecuted && $('Get RefreshToken2').first()?.json?.access_token,\n    $('Get RefreshToken2').first().json.access_token,\n    $('Setting2').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting2').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting2').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting2').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting2').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting2').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting2').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting2').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting2').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "ef846ad2-34a5-477f-82e5-eda8c3bf1e40",
      "name": "Vertex AI-VEO2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1984,
        416
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "f8647ee2-1b9b-40ce-bb2b-96b0a3496e01",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "position": [
        2208,
        416
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting2').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken2').isExecuted && $('Get RefreshToken2').first()?.json?.access_token,\n    $('Get RefreshToken2').first().json.access_token,\n    $('Setting2').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "9db5ab92-9acc-40ff-b300-6f0c96d43067",
      "name": "Vertex AI-fetch2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2432,
        336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2656,
        416
      ],
      "id": "08393e50-f0ed-4536-87fa-bfe0720a9685",
      "name": "Check Video Ready2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "f95cf945-827c-4140-a67c-cfcd32d6b1ec",
      "name": "Convert to File2",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2880,
        416
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "=video-create-from-images{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "06.Video_Veo3_N8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID"
        },
        "options": {}
      },
      "id": "73a87a1a-cf9c-47b5-a1c2-30f8cce0c91f",
      "name": "Upload file2",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3104,
        416
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1536,
        416
      ],
      "id": "f19e34cc-ce87-43c6-b99c-01411b9314da",
      "name": "CheckTimeToken2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting2').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting2').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting2').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1760,
        480
      ],
      "id": "212720c0-b971-48f2-94f8-2dbaf0fc2cae",
      "name": "Get RefreshToken2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "YOUR_PROJECT_ID"
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "YOUR_CLIENT_ID"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "YOUR_CLIENT_SECRET"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "YOUR_ACCESS_TOKEN"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "YOUR_REFRESH_TOKEN"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json['0'].content[0].text }}"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "array",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a0ef6d8-a6d5-4d53-8d8d-0a2c798585e9",
      "name": "Setting2",
      "type": "n8n-nodes-base.set",
      "position": [
        1312,
        416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        416
      ],
      "id": "98fa079d-c37f-47e1-b3e5-9fb663eee8c6",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "content": "Tạo Video from Image\n",
        "height": 784,
        "width": 3616,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        64
      ],
      "id": "be5e69cb-c5b4-410a-bf02-d39e6cf34288",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".jpg",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "YOUR_SOURCE_FOLDER_ID",
            "mode": "list",
            "cachedResultName": "06.Video_F_Image",
            "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_SOURCE_FOLDER_ID"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        416
      ],
      "id": "1dee81ea-b3fc-40e6-a383-232b120144dd",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        864,
        416
      ],
      "id": "9a07214b-4b70-4ba5-bd76-4daaa962a618",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        640,
        416
      ],
      "id": "d3f8ef79-7609-465b-9e4b-6a1bda1edb9e",
      "name": "Limit3"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=Bạn là một AI thông minh.Dựa trên hình ảnh, tạo một video ngắn 8 giây, chia thành 3 phân cảnh. Yêu cầu: Nhân vật là trung tâm (Thay thế bằng 1 người vô danh khác để không vi phạm chính sách của VertexAI và vi phạm bản quyền), hành động rõ ràng, biểu cảm sống động. Video tổng cộng 8 giây, chia 3 phân cảnh đều hợp lý. Không cần mô tả chi tiết background hay props phụ.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1088,
        416
      ],
      "id": "217b1ae4-e110-4b6d-85bd-38daa4d1e190",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Limit3').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_MOVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "06.Image_Move",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_MOVE_FOLDER_ID"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3328,
        416
      ],
      "id": "b167b8f4-d6ae-4348-8ca6-01dc7d8ac6a8",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Vertex AI-VEO2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch2": {
      "main": [
        [
          {
            "node": "Check Video Ready2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken2": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken2": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting2": {
      "main": [
        [
          {
            "node": "CheckTimeToken2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Setting2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "162c0d76-2eb7-40b2-b880-1ccd0c2317f9",
  "meta": {
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "6LBtO90IJ5WWQQz0",
  "tags": []
}