01_Image_To_VVeo3.json
{
  "name": "01_Prompt_To_VVeo3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting2').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken2').isExecuted && $('Get RefreshToken2').first()?.json?.access_token,\n    $('Get RefreshToken2').first().json.access_token,\n    $('Setting2').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting2').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting2').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting2').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting2').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting2').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting2').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting2').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting2').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "d7b56aee-ddd1-4a87-80cf-dd1e42b2e377",
      "name": "Vertex AI-VEO2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3120,
        4896
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "f5c69d58-cf5f-470c-87cd-cad8a0224485",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "position": [
        3760,
        5056
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting2').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken2').isExecuted && $('Get RefreshToken2').first()?.json?.access_token,\n    $('Get RefreshToken2').first().json.access_token,\n    $('Setting2').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "1da93856-7e9f-4911-821b-4defa0055589",
      "name": "Vertex AI-fetch2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4000,
        4960
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4224,
        5056
      ],
      "id": "52eaf21a-b3d2-48aa-b183-0b57920181bc",
      "name": "Check Video Ready2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "74c3352b-9607-4e7a-9365-338f3469937a",
      "name": "Convert to File2",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        4448,
        5056
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "=video-create-from-images{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1AQkQRVHO3QpKYRX0YnUbiEKr9ud5cd21",
          "mode": "list",
          "cachedResultName": "Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AQkQRVHO3QpKYRX0YnUbiEKr9ud5cd21"
        },
        "options": {}
      },
      "id": "e7fcac1b-81ca-47cb-98da-85901fd6573e",
      "name": "Upload file2",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        4672,
        5056
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2336,
        4944
      ],
      "id": "3f496ee2-4602-4665-bc03-ce575dd9d359",
      "name": "CheckTimeToken2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting2').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting2').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting2').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2688,
        5152
      ],
      "id": "7bcc4505-97ee-4641-9292-aa68d8fa7239",
      "name": "Get RefreshToken2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "n8npython-479410"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json['0'].content[0].text }}"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "ya29.a0Aa7pCA9Usf7M5PYDxvo4f0-yJwuU0O2yci9Ypa1sgc6p9QDlo1G8XTmOt2Tz-rqlyWSi35E5KNDO9fOBm5n_rt-wp_HWwxTg6D7MnuRf4uSaC0p_ZtSWynCrehROk9d9UavIWc5IGBl0RXd-J47P1teRuRFkkKzhbuePtjkPknwQS2U5P0ssz3RI_TYk1d-soFaMVeseaCgYKAXkSARcSFQHGX2MiAVtlRwP6BMqY5ofe_VKNgQ0207"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "823311730572-tbm9sjtf8sonll98v011o8o30aqebkti.apps.googleusercontent.com"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "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"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "1//04plJd9BIqvF_CgYIARAAGAQSNwF-L9Ir40JaQ02eJLCwRKgS-SJP0GauDZ10HxmmpOunYj4TKtEEOwIwgSxvCn5fVfEOn-1ki0o"
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "array",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4570aeae-d0fe-427f-b26d-cb068cfde271",
      "name": "Setting2",
      "type": "n8n-nodes-base.set",
      "position": [
        1936,
        4928
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        272,
        4912
      ],
      "id": "658d9470-9208-485e-a080-77cda81d2312",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "content": "Tạo Video from Image\n",
        "height": 784,
        "width": 4928,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        4768
      ],
      "id": "45ec2fe6-8826-4602-97c1-32678d2457f9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".jpg",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1fbEftm6Ic64Lu4sz-4E2ULR_OUX714re",
            "mode": "list",
            "cachedResultName": "CREATE_VIDEO_IMAGES",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1fbEftm6Ic64Lu4sz-4E2ULR_OUX714re"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        576,
        4912
      ],
      "id": "22e0e64b-8f75-4585-a9a5-acf1582d49e8",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        4928
      ],
      "id": "f2c4f9c7-b9a8-47d2-9fdd-231434dfc619",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1008,
        4912
      ],
      "id": "83489697-413d-49c6-bfc2-98fea364e1b3",
      "name": "Limit3"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=Bạn là một AI thông minh.Dựa trên hình ảnh, tạo một video ngắn 8 giây, chia thành 3 phân cảnh. Yêu cầu: Nhân vật là trung tâm (Thay thế bằng 1 người vô danh khác để không vi phạm chính sách của VertexAI và vi phạm bản quyền), hành động rõ ràng, biểu cảm sống động. Video tổng cộng 8 giây, chia 3 phân cảnh đều hợp lý. Không cần mô tả chi tiết background hay props phụ.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1600,
        4928
      ],
      "id": "2c0c9d75-e222-4b26-adc1-8fe6779ef34e",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        336,
        6256
      ],
      "id": "cff67eb6-0ee7-4cd7-ad7b-55fffc125248",
      "name": "Schedule Trigger3",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting3').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting3').first().json.PROJECT_ID }}/locations/{{ $('Setting3').first().json.LOCATION }}/publishers/google/models/{{ $('Setting3').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken3').isExecuted && $('Get RefreshToken3').first()?.json?.access_token,\n    $('Get RefreshToken3').first().json.access_token,\n    $('Setting3').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting3').first().json.PROJECT_ID }}/locations/{{ $('Setting3').first().json.LOCATION }}/publishers/google/models/{{ $('Setting3').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting3').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting3').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting3').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting3').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting3').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting3').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting3').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting3').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "4cdac0ec-30c3-49f1-8d6f-395e1e814b1a",
      "name": "Vertex AI-VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2480,
        6256
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "8eebd098-9fc1-4681-97a4-9e4dc97771b8",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "position": [
        2704,
        6256
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting3').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting3').first().json.PROJECT_ID }}/locations/{{ $('Setting3').first().json.LOCATION }}/publishers/google/models/{{ $('Setting3').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken3').isExecuted && $('Get RefreshToken3').first()?.json?.access_token,\n    $('Get RefreshToken3').first().json.access_token,\n    $('Setting3').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "c8d09751-e3b0-4a4c-8fcf-00b80aa17bb2",
      "name": "Vertex AI-fetch3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2928,
        6176
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        3152,
        6256
      ],
      "id": "3b25bd85-6cc3-40bf-ad2f-83fb99ffc2db",
      "name": "Check Video Ready3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "2e58742f-d3b7-4df4-823f-9d593ff82dfc",
      "name": "Convert to File3",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        3376,
        6256
      ],
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "name": "=video-createfromOdlVideo{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1AQkQRVHO3QpKYRX0YnUbiEKr9ud5cd21",
          "mode": "list",
          "cachedResultName": "Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AQkQRVHO3QpKYRX0YnUbiEKr9ud5cd21"
        },
        "options": {}
      },
      "id": "5f09779f-50b5-418e-890d-657f9e0fc0e0",
      "name": "Upload file3",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3600,
        6256
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2032,
        6256
      ],
      "id": "2a2edd9a-0454-4fec-9379-b3e8bfd24c06",
      "name": "CheckTimeToken3",
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting3').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting3').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting3').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2256,
        6320
      ],
      "id": "62a66f97-d784-4223-86f3-c4b34c5c5334",
      "name": "Get RefreshToken3",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "n8npython-479410"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "ya29.a0ATi6K2v7KMDwRqoskMsbzaelaJfcR3HxQV4Rgh5LL0e9i0VsY0ZiVNYXh9BWaXlw5V8ONW6xtoL-i7UEKYiid6TAGj5WzaqFAUirby9OQQYZokUq4Fe7yYrZx_1-1QPy40JztOkNxWFNEH-exihpDwnrttxFz0qiIn66VxixawBbruScyhpbjT4EfThY7audHcpd0XMaCgYKAUcSARcSFQHGX2MiwyOhptpbTvlK6eMEw_5PjQ0206"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "823311730572-tbm9sjtf8sonll98v011o8o30aqebkti.apps.googleusercontent.com"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "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"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "1//04plJd9BIqvF_CgYIARAAGAQSNwF-L9Ir40JaQ02eJLCwRKgS-SJP0GauDZ10HxmmpOunYj4TKtEEOwIwgSxvCn5fVfEOn-1ki0o"
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "82c059d3-2658-4d8e-9579-e4262a34e2dd",
      "name": "Setting3",
      "type": "n8n-nodes-base.set",
      "position": [
        1808,
        6256
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "content": "Worflow tạo Video từ Video Có sẵn trên drive\n",
        "height": 736,
        "width": 4224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        5984
      ],
      "id": "8f34d302-0b0e-4c34-8710-4ac7f08e6a83",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1LX7vbMiECKtLB8utWAYlw_oh7S7gRHzS",
            "mode": "list",
            "cachedResultName": "Videos_for_Create_VertexAI",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1LX7vbMiECKtLB8utWAYlw_oh7S7gRHzS"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        6256
      ],
      "id": "59408166-a4a4-4f5c-9d5a-a1cd85df3c3f",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        784,
        6256
      ],
      "id": "42db25eb-6870-46ee-81a1-e21dfb15c042",
      "name": "Limit4",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1008,
        6256
      ],
      "id": "b13aebab-1563-4bcc-9f2b-7ea817306a8c",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1232,
        6256
      ],
      "id": "d183289c-8266-4b8b-8255-236865107097",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=Bạn là một AI thông minh.Dựa trên text \"{{ $json.text }}\", tạo một video ngắn 8 giây, chia thành 3 phân cảnh. Yêu cầu: Nhân vật là trung tâm (Thay thế bằng 1 người vô danh khác để không vi phạm chính sách của VertexAI và vi phạm bản quyền), hành động rõ ràng, biểu cảm sống động. Video tổng cộng 8 giây, chia 3 phân cảnh đều hợp lý. Không cần mô tả chi tiết background hay props phụ."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1456,
        6256
      ],
      "id": "959a1d69-d807-4e10-b798-21be0f2f311b",
      "name": "Basic LLM Chain1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1536,
        6480
      ],
      "id": "ef24b205-5602-422e-9332-d3fd8780f442",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Limit3').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL",
          "mode": "list",
          "cachedResultName": "Done_Create_video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4880,
        5056
      ],
      "id": "2c83da71-d3ad-4649-a7f2-bad9808d1d98",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Limit4').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL",
          "mode": "list",
          "cachedResultName": "Done_Create_video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3872,
        6256
      ],
      "id": "50987458-3f8b-4ebd-b661-426473b93a06",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Vertex AI-VEO2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch2": {
      "main": [
        [
          {
            "node": "Check Video Ready2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken2": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken2": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting2": {
      "main": [
        [
          {
            "node": "CheckTimeToken2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Setting2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-VEO3": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch3": {
      "main": [
        [
          {
            "node": "Check Video Ready3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready3": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Upload file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file3": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken3": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken3": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting3": {
      "main": [
        [
          {
            "node": "CheckTimeToken3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Setting3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7fc3954-cfe4-48d2-9591-58e7fa5e559d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "ANeAJpGt52RymvSC",
  "tags": []
}